[
  {
    "key": "ctrl+`",
    "command": "workbench.action.terminal.focus",
    "when": "!terminalFocus"
  },
  {
    "key": "ctrl+`",
    "command": "workbench.action.focusActiveEditorGroup",
    "when": "terminalFocus"
  },
  {
    "key": "ctrl+; 1",
    "command": "workbench.action.focusFirstEditorGroup"
  },
  {
    "key": "ctrl+; 2",
    "command": "workbench.action.focusSecondEditorGroup"
  },
  {
    "key": "ctrl+; 3",
    "command": "workbench.action.focusThirdEditorGroup"
  },
  {
    "key": "ctrl+; 4",
    "command": "workbench.action.focusFourthEditorGroup"
  },
  {
    "key": "ctrl+; t",
    "command": "workbench.action.createTerminalEditorSide"
  },
  {
    "key": "ctrl+; n",
    "command": "workbench.action.terminal.focusNext"
  },
  {
    "key": "ctrl+; p",
    "command": "workbench.action.terminal.focusPrevious"
  },
  {
    "key": "ctrl+; w",
    "command": "workbench.action.switchWindow"
  },
  {
    "key": "ctrl+; o",
    "command": "workbench.action.openRecent"
  },
  {
    "key": "ctrl+; g",
    "command": "workbench.view.scm"
  },
  {
    "key": "ctrl+; b",
    "command": "workbench.action.toggleAuxiliaryBar"
  },
  {
    "key": "ctrl+; z",
    "command": "workbench.action.toggleZenMode"
  },
  {
    "key": "ctrl+; m",
    "command": "workbench.action.toggleMaximizedPanel"
  },
  {
    "key": "ctrl+; r",
    "command": "workbench.action.tasks.runTask"
  },
  {
    "key": "ctrl+alt+1",
    "command": "workbench.action.terminal.focusAtIndex1"
  },
  {
    "key": "ctrl+alt+2",
    "command": "workbench.action.terminal.focusAtIndex2"
  },
  {
    "key": "ctrl+alt+3",
    "command": "workbench.action.terminal.focusAtIndex3"
  },
  {
    "key": "ctrl+alt+4",
    "command": "workbench.action.terminal.focusAtIndex4"
  },
  {
    "key": "ctrl+alt+5",
    "command": "workbench.action.terminal.focusAtIndex5"
  },
  {
    "key": "ctrl+alt+6",
    "command": "workbench.action.terminal.focusAtIndex6"
  },
  {
    "key": "ctrl+alt+7",
    "command": "workbench.action.terminal.focusAtIndex7"
  },
  {
    "key": "ctrl+alt+8",
    "command": "workbench.action.terminal.focusAtIndex8"
  },
  {
    "key": "shift+enter",
    "command": "workbench.action.terminal.sendSequence",
    "args": { "text": "\\\r\n" },
    "when": "terminalFocus"
  }
]
